# These reqirements apply to Pytis wx applications.
# Use Wiking's requirements.txt for Wiking web apps
cachetools
file-magic
future
gnupg
psycopg2-binary
pillow
pycrypto
pymupdf
pygobject
reportlab
rpyc
sqlalchemy
wxpython
