backports.functools-lru-cache
cachetools
CairoSVG
certifi
chardet
cycler
file-magic
future
gnupg
idna
kiwisolver
matplotlib
numpy
pandas
pex
Pillow
plumbum
ply
psycopg2-binary
pyasn1
pycairo
pycrypto
pycryptodomex
PyGObject
#PyMuPDF
pyparsing
PyPubSub
pytest
pysmi
pysnmp
python-dateutil
python-magic
pytz
reportlab
requests
rpyc
six
SQLAlchemy
subprocess32
typing
urllib3
vobject
wxPython
