# These reqirements apply to Pytis wx applications.
# Use Wiking's requirements.txt for Wiking web apps
cachetools
file-magic
future
gnupg
psycopg2-binary
pillow
pycrypto
pymupdf
pygobject
reportlab
# RPyC 3.3.0 is needed in python 2.7, newest version works on Python 3
rpyc
sqlalchemy
wxpython
