# These reqirements apply to Pytis wx applications.
# Use Wiking's requirements.txt for Wiking web apps
cachetools
file-magic
future
gnupg
psycopg2
pillow
pycrypto
pymupdf
reportlab
rpyc
sqlalchemy
wxpython
