backports.functools-lru-cache==1.5
cachetools==3.1.0
CairoSVG==0.5
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
file-magic==0.4.0
future==0.17.1
idna==2.8
kiwisolver==1.1.0
matplotlib==2.2.4
numpy==1.16.5
pandas==0.24.2
pex==1.6.0
Pillow==7.1.0
plumbum==1.6.7
ply==3.11
psycopg2==2.7.7
psycopg2-binary==2.7.7
pyasn1==0.4.5
pycairo==1.18.0
pycrypto==2.6.1
pycryptodomex==3.7.3
PyGObject==3.30.4
PyMuPDF==1.14.3
pyparsing==2.4.2
PyPubSub==3.3.0
pytest==4.6.10
pysmi==0.3.3
pysnmp==4.4.8
python-dateutil==2.7.5
python-magic==0.4.15
pytz==2019.3
reportlab==3.5.13
requests==2.21.0
rpyc==3.3.0
six==1.12.0
SQLAlchemy==1.2.16
subprocess32==3.5.4
suds==0.4
typing==3.6.6
urllib3==1.24.1
vobject==0.9.6.1
wxPython==4.0.4
