#menu { 
    float: left;
    width: 200px;
    font-size: 11px;
}
#heading { 
    margin-left: 216px;
}
#content { 
    margin-left: 216px;
}
h1 { font-size: 1.6em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5,h6,h7,h8,h9 { font-size: 1.1em; }

#menu div.menu-panel  {
    position: relative;
    border: 1px solid #888;
}
#menu h3 {
    margin: 0;
    font-size: 1.1em;
    padding: 0.1em 0.2em;
    background-color: #ccc;
    border-bottom: 1px solid #888;
}
#menu button.toggle-menu-expansion {
    position: absolute;
    top: 4px;
    right: 5px;
}

.foldable-tree-widget {
    padding: 3px;
}
.foldable-tree-widget li.foldable,
.foldable-tree-widget button.toggle-menu-expansion.expanded {
    background-image: url(resource:folder-open.png) !important;
}
.foldable-tree-widget li.foldable.folded,
.foldable-tree-widget button.toggle-menu-expansion {
    background-image: url(resource:folder-closed.png) !important;
}
