#menu { 
    float: left;
    width: 200px;
    font-size: 11px;
}
#heading { 
    margin-left: 216px;
}
#content { 
    margin-left: 216px;
}
h1 { font-size: 1.6em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; }
h5,h6,h7,h8,h9 { font-size: 1.1em; }

#menu div.menu-panel  {
    position: relative;
    border: 1px solid #888;
}
#menu h3 {
    margin: 0;
    font-size: 1.1em;
    padding: 0.1em 0.2em;
    background-color: #ccc;
    border-bottom: 1px solid #888;
}
#menu ul {
    display: block;
    list-style-type: none;
    padding: 0.1em 0.2em 0.1em 0.3em;
    margin: 0;
}
#menu ul ul {
    padding-left: 1em;
    padding-right: 0;
}
#menu li { 
    line-height: 1.2em;
    width: 100%;
}
#menu li a, #menu li a span {
    display: block;
    clear: both;
}
#menu li a {
    cursor: default;
    padding-left: 14px;
}
#menu li a span {
    cursor: pointer;
    padding: 0.1em 0;
    margin-left: 1px; /* Fix MSIE bullet display */
}
#menu li a span.bullet {
    display: list-item;
    list-style-type: circle;
}
#menu li a.current span {
    background-color: #fbb;
}
#menu li.foldable {
    background-image: url(/_resources/folder-open.png);
    background-position: left 0.35em;
    background-repeat: no-repeat;
}
#menu li.foldable.folded {
    background-image: url(/_resources/folder-closed.png);
}
#menu li.folded ul {
    display: none;
}
#toggle-menu-expansion-button {
    padding: 0;
    margin: 0;
    border: none;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 0.45em;
    right: 0.3em;
    background-image: url(/_resources/folder-closed.png);
    background-position: center;
    background-repeat: no-repeat;
}
#toggle-menu-expansion-button.expanded {
    background-image: url(/_resources/folder-open.png);
}
