/* Generic pytis forms styles */

.pytis-form.edit-form .errors,
.pytis-form.query-fields-form .errors {
    color: #000;
    background-color: #fed;
    border: 1px solid #fcb;
    border-width: 1px 0;
    margin: 0.6em 0;
    text-align: left;
    padding: 0 3px;
}
.pytis-form.edit-form .errors div,
.pytis-form.query-fields-form .errors div {
    margin: 2px 0;
}
.pytis-form.edit-form .errors a,
.pytis-form.query-fields-form .errors a {
    color: #000;
}

.pytis-form .group, .pytis-form div.submit, .pytis-form .paging-controls {
    background-color: #eee;
    border: 1px solid #ddd;
    border-width: 1px 0;
    margin: 0.4em 0;
    padding: 0.4em 0.6em;
}
.pytis-form .paging-controls > span {
    margin-bottom: 0.4em;
}

.pytis-form.query-fields-form > table {
    border-collapse: collapse;
    border: none;
    border-spacing: 0;
}
.pytis-form.query-fields-form > table > tbody > tr > td {
    padding: 0;
}
.pytis-form.query-fields-form .group {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.pytis-form.query-fields-form .errors {
    text-align: left;
    margin: 0 0 0.3em 0;
}
.pytis-form.query-fields-form div.form-body {
    display: inline-block;
    margin-right: 0.8em;
}
.pytis-form.query-fields-form div.apply-filters {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0.2em;
}

.pytis-form .group div.group {
    border-width: 0;
    margin: 0;
    padding: 0;
}
.pytis-form .group fieldset.group {
    border-width: 1px;
}

@media print {
    .pytis-form .group {
	/* Make the border all around, not just top and bottom, when printing. */
	border-width: 1px !important; 
    }
}

.pytis-form fieldset.outer {
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.pytis-form legend.empty { display: none; }
.pytis-form table.horizontal-group {
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
}
.pytis-form table.vertical-group td.expanded,
.pytis-form table.horizontal-group.expanded {
    width: 100%;
}
.pytis-form div.horizontal-group table.vertical-group td.expanded,
.pytis-form div.horizontal-group table.horizontal-group.expanded {
    width: auto;
}
.pytis-form table.horizontal-group > tbody > tr > th,
.pytis-form table.horizontal-group > tbody > tr > td,
.pytis-form table.vertical-group > tbody > tr > th,
.pytis-form table.vertical-group > tbody > tr > td {
    vertical-align: top;
}
.pytis-form table.horizontal-group > tbody > tr > td.spacer {
    width: 100%;
}
.pytis-form .horizontal-group fieldset.group {
    margin: 0 0 0.4em 0;
    /* margin-bottom: 100%; ** this breaks fieldset border. */
}
.pytis-form table.horizontal-group > tbody > tr > td { padding-right: 0.6em; }
.pytis-form table.horizontal-group > tbody > tr > td:last-child { padding-right: 0; }

.pytis-form div.horizontal-group {
    margin-left: -0.6em;
}
.pytis-form div.horizontal-group > div {
    display: inline-block;
    margin-bottom: 0.2em;
    margin-left: 0.6em;
    vertical-align: top;
}

.pytis-form .error, .pytis-form .validation-error {
    color: #a21;
}


/* Fix MSIE fieldset background */
* html .pytis-form table.horizontal-group { position: relative; }
* html .pytis-form fieldset.group { position: relative; margin: 1em 0; padding-top: 0.7em; }
* html .pytis-form .horizontal-group fieldset.group { margin: 0 0 1em 0; }
* html .pytis-form fieldset.group legend { color: #000; position: absolute; top: -0.6em; left: 0.2em; }

.pytis-form div.submit {
    margin-top: .5em;
    padding: .5em;
    text-align: center;
}
.pytis-form div.submit button { 
    line-height: 1.4em;
    margin: 0 .6em;
}

.pytis-form .ajax-loading {
    color: #aaa;
    padding: 6px 0 6px 30px;
    background-image: url(ajax-loading.gif);
    background-position: 8px center;
    background-repeat: no-repeat;
}
.pytis-form .form-load-error {
    padding: 6px 0 6px 36px;
    background-image: url(error.png); /* Beware: Relying on Wiking's resources... */
    background-position: 8px center;
    background-repeat: no-repeat;
}
.pytis-form .form-load-traceback {
    padding: 4px;
    margin-left: 6px;
    background-color: #eee;
    border: 1px solid #ddd;
}

.pytis-form.browse-form table.data-table {
    border-collapse: collapse;
    border: none;
    margin-top: .3em;
}
.pytis-form.browse-form table.data-table tr.data-row td,
.pytis-form.browse-form table.data-table tr.row-expansion td,
.pytis-form.browse-form table.data-table tr.column-headings th,
.pytis-form.browse-form table.data-table tr.group-heading th {
    padding: 3px;
    vertical-align: top;
    border: 1px solid #ddd;
}
.pytis-form.browse-form table.data-table tr.column-headings th.column-heading,
.pytis-form.browse-form table.data-table tr.group-heading th { 
    background-color: #eee;
}
.pytis-form.browse-form table.data-table tr.column-headings th.column-heading.sortable-column { 
    cursor: pointer;
}
.pytis-form.browse-form table.data-table tr.column-headings th span.sort-indicator {
    display: inline-block;
    float: right;
    padding: 3px 2px;
    width: 9px;
    height: 7px;
    background-position: right center;
    background-repeat: no-repeat;
}
.pytis-form.browse-form table.data-table tr.column-headings th span.sort-direction-asc {
    background-image: url(sort-asc.png);
}
.pytis-form.browse-form table.data-table tr.column-headings th span.sort-direction-desc {
    background-image: url(sort-desc.png);
}

.pytis-form.browse-form table.data-table.expansible-rows td.expansion-ctrl {
    position: relative;
    width: 15px;
    padding: 0;
}
.pytis-form.browse-form table.data-table.expansible-rows td.expansion-ctrl a.expand-row {
    width: 15px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 0px;
    text-indent: -9999px;
    background-image: url(row-collapsed.png);
    background-position: 1px center;
    background-repeat: no-repeat;
}
.pytis-form.browse-form table.data-table.expansible-rows tr.expanded a.expand-row {
    background-image: url(row-expanded.png);
}
.pytis-form.browse-form table.data-table tr.row-expansion a.collapse-row {
    position: absolute;
    left: -9999px;
}

.pytis-form.browse-form table.data-table .tree-node {
    white-space: nowrap;
}
.pytis-form.browse-form table.data-table tr.data-row,
.pytis-form.browse-form table.data-table tr.row-expansion { background-color: #f8fafb; }
.pytis-form.browse-form table.data-table tr.data-row.even { background-color: #f1f3f2; }
.pytis-form.browse-form table.data-table tr.group-heading th { text-align: left; }

.pytis-form.browse-form table.data-table .popup-menu-ctrl-widget a {
    display: block;
    float: right;
}
.pytis-form.browse-form table.data-table pre {
    background-color: transparent;
    border: none;
}
.pytis-form.browse-form table.data-table span.tree-indent {
    padding-left: 0.6em;
}
.pytis-form.browse-form table.data-table tfoot td {
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 0;
    text-align: right;
}

.list-form-controls {
    margin: 0.8em 0;
    padding: 0;
}
.list-form-controls .paging-controls.one-page {
    text-align: right;
}
.list-form-controls span.offset,
.list-form-controls span.buttons,
.list-form-controls span.limit {
    white-space: nowrap;
    display: inline-block;
    margin-right: 1em;
}
.list-form-controls div.index-search-controls {
    padding-bottom: 0.4em;
}
.list-form-controls div.index-search-controls div {
    padding-bottom: 0.2em;
}

.pytis-form.browse-form #found-record {
    background-color: #fc8 !important;
}
.pytis-form.browse-form .results {
    font-weight: bold;
}

.pytis-form.list-view div.list-item {
    margin-bottom: 1.1em;
    overflow: auto; /* force floating image containment by Block Formatting Context */
}
.pytis-form.list-view div.tree-indent {
    padding-left: 0.7em;
    border-left: 2px solid #ddd
}
.pytis-form.list-view #found-record h3 {
    background-color: #fc8;
}

.pytis-form.list-view div.list-item h3 {
    margin-bottom: 0.2em;
    font-size: 1.2em;
}
.pytis-form.list-view div.list-item div.meta {
    font-style: italic;
    margin: 0.2em 0;
    color: #840;
    padding: 0.1em 0;
    background-color: #fff;
}
.pytis-form.list-view table.grid {
    border-collapse: separate;
    border-spacing: 0.6em;
}
.pytis-form.list-view table.grid td {
    vertical-align: top;
}
.pytis-form.list-view table.grid h3 {
    margin-top: 0;
}
.pytis-form fieldset.body div.field { 
    margin: 0.2em 0;
}
.pytis-form label {
    margin-right: 0.25em;
}
.pytis-form .field-label { 
    white-space: nowrap;
    font-weight: bold;
}
.pytis-form.query-fields-form .field-label {
    font-weight: normal;
}
.pytis-form .field-label .not-null { color: #f00; line-height: 1em; }
.pytis-form .field-label.disabled { color: #444; }
.pytis-form .field-label.disabled .not-null { display: none; }

.pytis-form .radio-group {
    margin-bottom: 0.3em;
}
.pytis-form .radio-group div, .pytis-form .radio-group span {
    white-space: nowrap;
}
.pytis-form .radio-group input {
    vertical-align: baseline;
    margin-right: 0.2em;
}
.pytis-form .radio-group label {
    font-weight: normal;
    display: inline-block;
    margin: 0.3em 0 0.1em 0.1em;
}

.pytis-form .group table {
    border-collapse: collapse;
}
.pytis-form.show-form td.ctrl, .pytis-form.list-view td.ctrl { 
    line-height: 1.4em;
}
.pytis-form th.label { 
    line-height: 1.4em;
    white-space: nowrap;
}
.pytis-form.edit-form th.label {
    /* To display labels vertically centered with form controls. */
    line-height: 1.5em;
}
.pytis-form.show-form th.label { 
    /* Force normal line height in a show form embedded in an edit form. */
    line-height: 1.4em; 
} 

.pytis-form.show-form a.print-field-link { 
    float: right;
    display: block;
}

.pytis-form .group span.color-display { 
    padding: 0 0.5em;
    border: 1px solid #bbb;
}
.pytis-form .group span.color-value { 
    float: left;
    width: 6em;
}
.pytis-form.show-form .group textarea, .pytis-form.list-view .group textarea {
    background-color: #eee;
    border: 0px;
    font-size: 1em;
}
.pytis-form.show-form, .pytis-form.edit-form { 
    margin: 0;
    padding: 0;
}
.pytis-form.edit-form div.help { 
    color: #444;
    margin-bottom: 0.4em;
}
.pytis-form input.text-search-field,
.pytis-form.edit-form input.text-field,
.pytis-form.edit-form textarea,
.pytis-form.edit-form select {
    border: 1px solid #bbb;
    background-color: #fff;
    margin: 1px 0;
}
.pytis-form.edit-form input.text-field:disabled,
.pytis-form.edit-form textarea:disabled,
.pytis-form.edit-form select:disabled { 
    background-color: #e8e8e8;
}
.pytis-form.edit-form input.text-field,
.pytis-form.edit-form textarea {
    padding: 1px;
}
.pytis-form textarea.fullsize {
    width: 100%;
}
.pytis-form .field div.multiline.scrolled {
    overflow-y: scroll;
    resize: vertical;
    border: 1px solid #ddd;
    border-width: 1px 0;
}

@media print {
    .pytis-form .field div.multiline.scrolled { 
	height: auto !important;
	border: none;
    }
}

.pytis-form input.button.selection-invocation { 
    margin-left: 2px;
    padding: 0;
}

.pytis-form.list-view div.summary {
    margin-top: 1.2em;
    border-top: 1px solid #ddd;
}
/*.pytis-form .invalid {
    background-color: #fdb;
}*/

.actions { 
    margin: 1em 0;
    line-height: 1.5em;
}
.actions form { 
    display: inline;
    margin: 0;
    padding: 0;
}
.actions a {
    vertical-align: top;
    padding-left: 0.5em;
}

.actions button, .list-form-controls button {
    width: auto; /* fix MSIE size */
    overflow: visible; /* fix MSIE size */
    margin-right: 0.4em;
}
.actions button span, .list-form-controls button span {
    display: block;
    line-height: 16px;
    white-space: nowrap;
    background-position: center left;
    background-repeat: no-repeat;
    background-attachment: center left;
}
.actions button[disabled] span, .list-form-controls button[disabled] span {
    opacity: 0.5;
    color: #000;
}

.pytis-form.browse-form .new-row-button {
    position: relative;
    left: -1px;
    top: 3px;
    margin: 0;
}

.pytis-form.browse-form a.remove-row img {
    position: relative;
    top: 2px;
    left: 0;
    padding-left: 2px;
    padding-right: 3px;
}
.pytis-form.browse-form td.editable-cell .errors {
    border-width: 1px;
    margin: 1px 0;
}
.pytis-form.browse-form td.editable-cell form {
    white-space: nowrap;
}
/* Border-less table:
.pytis-form.browse-form.mapping table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 0;
}
.pytis-form.browse-form.mapping table tbody td {
    border-width: 0;
}
.pytis-form.browse-form.mapping table th {
    border-width: 1px 0;
} */

