name: Run Tests

on:

  push:
    branches:
      - '**'
  pull_request:

jobs:

  test-py27:
    # The base system is Ubuntu, but the Python 2.7 image actually runs Debian 10 (Buster).
    runs-on: ubuntu-latest

    container:
      image: python:2.7

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: pytis
          POSTGRES_PASSWORD: pytis
          POSTGRES_DB: test

    env:
      PGHOST: postgres
      PGPORT: 5432
      PGUSER: pytis
      PGPASSWORD: pytis
      PYTIS_DBNAME: test
      PYTHONPATH: lib
      # The default github postgres service doesn't support plpython.
      PYTIS_TEST_SKIP_PLPYTHON: 1

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fix APT for archived Debian
        run: |
          sed -i 's|http://deb.debian.org/debian|http://archive.debian.org/debian|g' /etc/apt/sources.list
          sed -i 's|http://security.debian.org/debian-security|http://archive.debian.org/debian-security|g' /etc/apt/sources.list
          echo 'Acquire::Check-Valid-Until "false";' > /etc/apt/apt.conf.d/99no-check-valid-until

      - name: Install system dependencies
        run: |
          apt-get update
          apt-get install -y locales postgresql-client python3-pip rsync gettext \
            python-dev pkg-config libgirepository1.0-dev libmupdf-dev libfreetype6-dev \
            libwebkit2gtk-4.0-37 libsdl2-2.0-0 libnotify4
          sed -i '/\(cs_CZ\|en_US\).UTF-8/s/^# \+//g' /etc/locale.gen
          locale-gen

      - name: Install Python dependencies
        run: |
          pip install --upgrade 'pip<21' 'setuptools<45' 'wheel<0.34'
          pip install wxpython --only-binary=:all: --verbose \
              -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/debian-10/
          # There's no flit in Pyton 2.7 so we install and use flit from Python 3.
          grep -v '^flit' requirements-devel.txt | pip install -r /dev/stdin
          python3 -m pip install flit
          # Beware: 'make build' duplication here, but we need python3 to run flit.
          make translations
          make resources
          python3 -m flit build
          # This is mainly to install the dependencies.  The code will run form
          # the current directory anyway.
          pip install $(echo dist/pytis-*-any.whl)[wx]

      - name: Setup database
        run: |
          until psql -h "$PGHOST" -U "$PGUSER" -d "$PYTIS_DBNAME" -c 'select 1' >/dev/null 2>&1; do
            echo "Waiting for postgres..."; sleep 1
          done
          psql -h "$PGHOST" -U "$PGUSER" -d "$PYTIS_DBNAME" -v ON_ERROR_STOP=1 \
            -c "alter database $PYTIS_DBNAME set default_text_search_config to 'simple'"
          psql -h "$PGHOST" -U "$PGUSER" -d "$PYTIS_DBNAME" -v ON_ERROR_STOP=1 \
            -c "create role demo;"

      - name: Run tests
        run: make test

  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: [3.11]

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: pytis
          POSTGRES_PASSWORD: pytis
          POSTGRES_DB: test
        ports:
          - 5432:5432

    env:
      PGHOST: localhost
      PGPORT: 5432
      PGUSER: pytis
      PGPASSWORD: pytis
      PYTIS_DBNAME: test
      PYTHONPATH: lib
      # The default github postgres service doesn't support plpython.
      PYTIS_TEST_SKIP_PLPYTHON: 1

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y locales postgresql-client gettext rsync \
            python3-dev pkg-config libgirepository1.0-dev libcairo2-dev \
            libwxgtk-webview3.2-1t64 libsdl2-2.0-0 libtiff6
          sudo sed -i '/\(cs_CZ\|en_US\).UTF-8/s/^# \+//g' /etc/locale.gen
          sudo locale-gen

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip
          pip install wxpython --only-binary=:all: --verbose \
              -f https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-24.04/
          pip install -r requirements-devel.txt
          make build
          pip install $(echo dist/pytis-*-any.whl)[wx]

      - name: Setup database
        run: |
          until psql -h "$PGHOST" -U "$PGUSER" -d "$PYTIS_DBNAME" -c 'select 1' >/dev/null 2>&1; do
            echo "Waiting for postgres..."; sleep 1
          done
          psql -h "$PGHOST" -U "$PGUSER" -d "$PYTIS_DBNAME" -v ON_ERROR_STOP=1 \
            -c "alter database $PYTIS_DBNAME set default_text_search_config to 'simple'"
          psql -h "$PGHOST" -U "$PGUSER" -d "$PYTIS_DBNAME" -v ON_ERROR_STOP=1 \
            -c "create role demo;"

      - name: Run tests
        run: make test
